body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  padding: 0;
  margin: 0;
}

.long-btn:hover,
.button:hover,
.choice,
.sm-btn,
#level {
  cursor: pointer;
}

#bible-query-title {
  text-align: center;
}

h1 {
  text-align: center;
}

h3 {
  /* heading on levels. Centered */
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(81, 220, 245);
}

.bk-img {
  background: url(img/bk-img.jpg) no-repeat center center fixed;
  background-size: cover;
}
.outer-container {
  padding: 0;
  margin: 0;
}
.container {
  padding: 0em;
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  text-align: left;
  /* box-shadow: 0px 5px 15px 0px; */
  position: relative;
  overflow: auto;
}

#long-btn-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.long-btn {
  max-width: 100%;
  display: flex;
  align-self: center;
  /* remove the blue line around the button upon clicking */
  border: 0;
  text-decoration: none;
  outline: none;
}
.sm-btn {
  margin: 10px;
  width: 25%;
  border: 0;
  text-decoration: none;
  outline: none;
}
.centered-sm-btns {
  text-align: center;
}

/* settings back button */
#settings-btns {
  text-align: center;
}
#rules-table-container {
  text-align: center;
}
#rules-table-img {
  padding: 1em;
  width: 90%;
}

#level-number {
  font-weight: bolder;
  border: 2px solid lightgrey;
  text-align: center;
  position: absolute;
  color: lightgrey;
}
#level-number:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#query-block {
  display: flex;
  text-align: center;
}
.question-container {
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#timer {
  text-align: center;
}
#counter {
  font-size: 0;
  padding: 1em;
}
#timeGauge {
  height: 0.8em;
  border-radius: 1em;
  background-color: white;
  margin: 0.1em;
}
#choices-container {
  padding: 0;
}
.choice {
  text-align: center;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 5px;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}
#progress {
  width: 100%;
  text-align: center;
}
.progress {
  border: 1px solid #000;
  display: inline-block;
  border-radius: 40%;
}
#final-score {
  text-align: center;
}

/* ------------------------------------------------MEDIA QUERIES------------------------------------------------ */

/* PHONE */
/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
/* -------------------------OPPO A71------------------------- */
@media screen and (min-width: 275px) and (min-height: 480px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
    margin-left: 0.6em;
  }
  p {
    font-size: 0.9em;
    margin: 1.5em;
  }
  .long-btn {
    padding: 0.5em 0;
  }
  input {
    width: 3.5em;
    height: 3.5em;
    margin-left: 2em;
    margin-right: 1em;
  }
  label {
    font-size: 4em;
  }
  #bible-query-title {
    font-size: 6.3em;
    margin: 0.2em 0em;
  }
  #long-btn-container {
    width: 66%;
    margin-bottom: 11em;
  }
  #stars {
    font-size: 3em;
  }
  #level-number {
    font-size: 5em;
    padding: 0.1em 0.5em;
    margin: 1em;
  }
  #levels-sm-btns {
    padding-top: 65em;
    padding-bottom: 9em;
  }
  /* query */
  #level-theme {
    font-size: 2em;
    padding: 1.3em;
  }
  #question {
    font-size: 3.5em;
  }
  .question-container {
    height: 30em;
    margin: 0em 2em;
  }
  .choice {
    font-size: 2.2em;
    width: 20em;
    padding: 1.2em 3em;
    margin: 0.3em 0em;
  }
  #progress-container {
    padding: 2em;
  }
  .progress {
    width: 2.4em;
    height: 2.4em;
    margin-left: 1px;
    margin-right: 1px;
  }
  #query-menu-btns {
    padding-top: 0em;
    padding-bottom: 9em;
    width: 100%;
    text-align: center;
  }
  #ads {
    font-size: 2em;
    padding: 0.5em;
  }
  #final-score {
    padding: 13em 0em 9em;
  }
  #score-phrase-1 {
    font-size: 7em;
    font-family: "Architects Daughter", cursive;
  }
  #score-phrase-2 {
    font-size: 3em;
    font-family: "Architects Daughter", cursive;
    margin: 0em;
  }
  #final-score-img {
    width: 90%;
  }
  #final-score-percentage {
    font-size: 10em;
    font-family: "Architects Daughter", cursive;
    padding: 0em;
    margin: 0em;
  }
  #final-score-menu-btns {
    padding-top: 10em;
    padding-bottom: 8em;
    width: 100%;
    text-align: center;
  }
  /* settings */
  #learn-more {
    font-size: 3em;
    padding: 0em;
    margin: 0.5em;
  }
  #language-header {
    font-size: 4em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  #settings-btns {
    padding-top: 21em;
    padding-bottom: 8em;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media screen and (min-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 3em;
    margin-left: 0.6em;
  }
  p {
    font-size: 0.9em;
    margin: 1.5em;
  }
  .long-btn {
    padding: 0.5em 0;
  }
  input {
    width: 3.5em;
    height: 3.5em;
    margin-left: 2em;
    margin-right: 1em;
  }
  label {
    font-size: 4em;
  }
  #bible-query-title {
    font-size: 6.5em;
    margin: 0.2em 0em;
  }
  #long-btn-container {
    width: 67%;
    margin-bottom: 11em;
  }
  #stars {
    font-size: 3em;
  }
  #level-number {
    font-size: 5em;
    padding: 0.1em 0.5em;
    margin: 1em;
  }
  #levels-sm-btns {
    padding-top: 68em;
    padding-bottom: 8em;
  }
  /* query */
  #level-theme {
    font-size: 2em;
    padding: 1.3em;
  }
  #question {
    font-size: 2.8em;
  }
  .question-container {
    height: 30em;
    margin: 0em 2em;
  }
  .choice {
    font-size: 2.5em;
    width: 15.5em;
    padding: 1.2em 3em;
    margin: 0.3em 0em;
  }
  #progress-container {
    padding-top: 1em;
  }
  .progress {
    width: 2.4em;
    height: 2.4em;
    margin-left: 1px;
    margin-right: 1px;
  }
  #query-menu-btns {
    padding-top: 0.5em;
    padding-bottom: 8em;
    width: 100%;
    text-align: center;
  }
  #final-score {
    padding: 15em 0em 25em;
  }
  #score-phrase-1 {
    font-size: 7em;
    font-family: "Architects Daughter", cursive;
  }
  #score-phrase-2 {
    font-size: 3em;
    font-family: "Architects Daughter", cursive;
  }
  #final-score-percentage {
    font-size: 7em;
    font-family: "Architects Daughter", cursive;
    padding: 0em;
    margin: 0em;
  }
  #final-score-img {
    width: 90%;
  }
  #final-score-menu-btns {
    padding-top: 0.5em;
    padding-bottom: 7em;
    width: 100%;
    text-align: center;
  }
  #ads {
    font-size: 2em;
    padding: 0.5em;
  }
  /* settings */
  #learn-more {
    font-size: 3em;
    padding: 0em;
    margin: 0.5em;
  }
  #language-header {
    font-size: 4em;
    padding-bottom: 0em;
    margin-bottom: 0em;
  }
  #settings-btns {
    padding-top: 22em;
    padding-bottom: 8em;
  }
}

/* TABLET */
/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* DESKTOP */
/* ---------------1600px---------------- */
@media screen and (min-device-width: 1600px) {
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.3em;
  }
  p {
    font-size: 1.1em;
    margin: 0.5em;
  }
  /* settings */
  input {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    margin-right: 0;
  }
  label {
    font-size: 1.5em;
  }
  .outer-container {
    padding: 0 37em;
  }
  .long-btn {
    padding: 0.3em 0;
  }
  #bible-query-title {
    font-size: 2.8em;
    margin: 0.2em 0em;
  }
  #long-btn-container {
    width: 74%;
    margin-bottom: 3.1em;
  }
  /* levels */
  #stars {
    font-size: 2em;
  }
  #level-number {
    font-size: 2em;
    padding: 0.1em 0.5em;
    margin: 1em;
  }
  #levels-sm-btns {
    padding-top: 27.5em;
    padding-bottom: 2.5em;
  }
  /* query */
  #level-theme {
    font-size: 1em;
    padding: 0.7em;
  }
  #question {
    font-size: 1.2em;
  }
  .question-container {
    height: 12em;
    margin: 0.5em;
  }
  .choice {
    font-size: 1em;
    width: 17em;
    padding: 1.2em 3em;
    margin: 0.3em 0em;
  }
  #progress-container {
    padding: 0.5em 0 0 0;
  }
  .progress {
    width: 0.9em;
    height: 0.9em;
    margin-left: 1px;
    margin-right: 1px;
  }
  #query-menu-btns {
    padding-top: 0.5em;
    padding-bottom: 3.5em;
    width: 100%;
    text-align: center;
  }
  #final-score {
    padding: 7em 0em 9em;
  }
  #score-phrase-1 {
    font-size: 3.5em;
    font-family: "Architects Daughter", cursive;
  }
  #score-phrase-2 {
    font-size: 1.2em;
    font-family: "Architects Daughter", cursive;
  }
  #final-score-img {
    width: 90%;
  }
  #final-score-percentage {
    font-size: 3em;
    font-family: "Architects Daughter", cursive;
    padding: 0em;
    margin: 0em;
  }
  #final-score-menu-btns {
    padding-top: 0.5em;
    padding-bottom: 2.5em;
    width: 100%;
    text-align: center;
  }
  #ads {
    font-size: 1em;
    padding: 0.8em;
  }
  /* settings */
  #learn-more {
    font-size: 1em;
  }
  #language-header {
    font-size: 2em;
    padding-bottom: 0.4em;
    margin-bottom: 0em;
  }
  #settings-btns {
    padding-top: 12em;
    padding-bottom: 2em;
  }
}
