body {
  color: blanchedalmond;
  line-height: 100px;
  margin: 0;
  overflow: hidden;
}

#bk-img {
  background: url(JWGuitar.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.contents-container {
  padding-top: 10em;
  padding-right: 45em;
  padding-bottom: 80em;
  padding-left: 10px;
  margin: 0;
  text-align: center;
}

#song,
#song-number,
#song-title,
#parentheses,
#bible-verse {
  margin: 0em;
}

#song,
#song-number {
  font-size: 30pt;
}

#song-title {
  font-size: 90pt;
}

#parentheses,
#bible-verse {
  font-size: 27pt;
}

@font-face {
  font-family: "Avenir";
  src: url(fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "Charter";
  src: url(fonts/Charter.ttf);
}

@font-face {
  font-family: "ArcherPro-Thin";
  src: url(fonts/ArcherPro-Thin.otf);
}

#song,
#song-number {
  font-family: "Avenir";
}

#song-title {
  font-family: "Charter";
}

#parentheses,
#bible-verse {
  font-family: "ArcherPro-Thin";
}
