body {
    color: blanchedalmond;
    background-image: url(guitarImage.png);
    background-size: cover;
    line-height: 100px;
}

.container {
    padding: 10px 20px 0px 10px;
    margin: 10px 430px 0px 10px;
    text-align: center;
}

#song, #songNumber {
    font-family: 'Avenir', sans-serif;
    font-size: 30pt;
    margin: unset;
}

#songTitle {
    font-family: 'Charter', serif;
    font-size: 77pt;
    font-weight: bold;
    margin: unset;
}

#parentheses, #bibleVerse {
    font-family: 'Archerpro Thin';
    font-size: 27pt;
    margin: unset;
}