* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Avenir";
  src: url(fonts/AvenirLTStd-Book.otf);
}

@font-face {
  font-family: "Charter";
  src: url(fonts/Charter.ttf);
}

@font-face {
  font-family: "ArcherPro-Thin";
  src: url(fonts/ArcherPro-Thin.otf);
}

body {
  line-height: 100px;
  margin: 0;
}

.home__header {
  background: #6d5402;
  font-family: "ArcherPro-Thin";
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  width: 100%;
}

button {
  font-family: "Times New Roman", Times, serif;
  background: #6d5402;
  font-size: 1rem;
  height: 5rem;
  color: white;
  border: 1px solid #6d5402;
  padding: 0 4rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 20%;
}
button:focus {
  outline: none;
}
button:hover,
button:active {
  background: #5d4803;
  border-color: #5d4803;
}

.input-section {
  text-align: center;
  margin: 2rem auto;
  width: 40rem;
  max-width: 90%;
  border: 1px solid #6d5402;
  border-radius: 10px;
  padding: 1rem;
  color: #6d5402;
}

.input-section__heading {
  font-family: "ArcherPro-Thin";
  margin: 0;
}

#input-section__field {
  font: inherit;
  font-size: 3rem;
  border: 2px solid #6d5402;
  width: 10rem;
  height: 5rem;
  padding: 0.15rem;
  margin: auto;
  display: block;
  color: #6d5402;
  text-align: center;
}
#input-section__field:focus {
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
#input-section__field::-webkit-outer-spin-button,
#input-section__field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
#input-section__field[type="number"] {
  -moz-appearance: textfield;
}

#template {
  height: 100vh;
  width: 100vw;
  background: url(JWGuitar.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
}

.template-contents {
  /* border: 5px solid white; */
  width: 55vw;
  text-align: center;
  bottom: 3.5rem;
  left: 0;
  position: absolute;
}

.template-contents__song,
#template-contents__song-number,
#template-contents__song-title,
.template-contents__parentheses,
#template-contents__bible-verse {
  margin: 0em;
  color: blanchedalmond;
}

.template-contents__song,
#template-contents__song-number {
  font-size: 2.5rem;
}

#template-contents__song-title {
  font-size: 6.5rem;
}

.template-contents__parentheses,
#template-contents__bible-verse {
  font-size: 1.5rem;
}

.template-contents__song,
#template-contents__song-number {
  font-family: "Avenir";
}

#template-contents__song-title {
  font-family: "Charter";
}

.template-contents__parentheses,
#template-contents__bible-verse {
  font-family: "ArcherPro-Thin";
}

#home-copyright,
#template-copyright {
  text-align: center;
}

.copyright {
  font-size: 1.2rem;
  position: absolute;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

.homepage__copyright {
  color: black;
}

.template__copyright {
  color: white;
}
