<!DOCTYPE html>
<html>
<head>
	<title>about</title>
</head>
<body>
    <h1>About Bible Quiz</h1>
        <p>This is just a simple Bible game
            that we can play with our friends and families.
            You'll notice that the clues in this game 
            are Bible verses (of course, it's a Bible Quiz). 
            And I encourage you to go to <link href="https://www.jw.org/en">jw.org</href>
            where you can check each of these Bible verses
            on the free online Bible there.
            To know the rules for this game, go to "Rules".
        </p>

    <h1>About the Developer</h1>
        <p>My name is Zedd. I'm not the DJ Zedd, though.
            But I also love his music. 
            Anyways, you can check out my blog:
            <link href="https://www.zeddrix.com">zeddrix.com</link>
        </p>
</body>
</html>