<!DOCTYPE html>
<html>
  <head>
    <title>HOME</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>BIBLE QUIZ</h1>
      <a class="button" href="levels.html">Play</a>
      <a class="button" href="settings.html">Settings</a>
      <a class="button" href="rules.html">Rules</a>
      <a class="button" href="about.html">About</a>
      <a
        class="button"
        onclick="alert('You are temporarily leaving the game to send a recommendation using your preferred messaging application.')">
        Tell Your Friends!
      </a>
      <a class="button" onclick="myFunction()">Quit</a>
      <p id="demo"></p>
    </div>
  </body>
  <script>
    function myFunction() {
      var txt;
      if (confirm("Are you sure you want to quit?")) {
        txt = "Bye!";
      } else {
        txt = "Welcome back!";
      }
      document.getElementById("demo").innerHTML = txt;
    }
  </script>
</html>
