<!DOCTYPE html>
<html>
<head>
    <title>Select A Level</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Select a Level</h1>
    <h3>Stars: 6</h3>
    <!-- all level buttons -->
    <button></button>
    <a class='btn my-2 my-sm-0' href='home.html'>BACK</a> <br>
    <a class='btn my-2 my-sm-0' href='settings.html'>Settings</a> <br>
</body>
</html>