<!DOCTYPE html>
<html>
  <head>
    <title>SELECT A LEVEL</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container" id="bk-img">
      <h1>SELECT A LEVEL</h1>
      <h3>Stars: 0</h3>
      <!-- all level buttons -->
      <a class="button" href="quiz.html">1</a>
      <a href="../index.html">
        <img src="/img/back-sm-btn.jpg" class="sm-btn"/>
      </a>      
      <a href="../index.html">
        <img src="/img/settings-sm-btn.jpg" class="sm-btn"/>
      </a>
    </div>
  </body>
</html>
