<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>QUIZ</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container" id="bk-img">
      <div id="start">Start Bible Quiz!</div>
      <div id="quiz" style="display: none;">
        <div id="question"></div>
        <div id="choices">
          <div class="choice" id="A" onclick="checkAnswer('A')"></div>
          <div class="choice" id="B" onclick="checkAnswer('B')"></div>
          <div class="choice" id="C" onclick="checkAnswer('C')"></div>
          <div class="choice" id="D" onclick="checkAnswer('D')"></div>
        </div>
        <div id="timer">
          <div id="counter"></div>
          <div id="timeGauge"></div>
        </div>
        <div id="progress"></div>
        <div class="quiz-menu-btn-container">
          <a href="levels.html">
            <img src="../img/back-sm-btn.jpg" class="sm-btn"/>
          </a>
          <a href="../index.html" class="quiz-menu-btn">QUIT</a>
        </div>
      </div>
      <div id="scoreContainer" style="display: none;"></div>
    </div>
  </body>
  <script src="../scripts/quiz.js"></script>
  <script src="../scripts/app.js"></script>
  <!-- <script src="./node_modules/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</html>
