<!DOCTYPE html>
<html>
<head>
    <title>QUIZ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <!-- question -->
    <p>
        Who asked the Israelites to separate from their foreign wives?
    </p>
    <!-- <button>Show Clue</button>
    Job 42:10 (Bible verse quote) -->
    <!-- choices -->
        <button onclick="wrongAnswer()">Asa</button><br><br>
        <button onclick="wrongAnswer()">Moses</button><br><br>
        <button onclick="wrongAnswer()">Nehemiah</button><br><br>
        <button onclick="rightAnswer()">Ezra</button><br><br>
    <p id="rightAnswer"></p>
    <p id="wrongAnswer"></p>

    <a class='btn my-2 my-sm-0' href='home.html'>BACK</a> <br> 
    <button>QUIT</button>
</body>
<script src="../scripts/app.js"></script>
<script src="../scripts/quiz.js"></script>
</html>