<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>QUIZ</title>
    <link rel="stylesheet" href="../style/style.css" />
  </head>
  <body>
    <div class="container" id="bk-img">
      <div id="start">Start Bible Quiz!</div>
      <div id="quiz" style="display: none;">
        <div id="question"></div>
        <div id="choices">
          <div class="choice" id="A" onclick="checkAnswer('A')"></div>
          <br /><br />
          <div class="choice" id="B" onclick="checkAnswer('B')"></div>
          <br /><br />
          <div class="choice" id="C" onclick="checkAnswer('C')"></div>
          <br /><br />
          <div class="choice" id="D" onclick="checkAnswer('D')"></div>
          <br /><br />
        </div>
        <!-- <div id="timer">
          <div id="counter"></div>
          <div id="bTimeGauge"></div>
          <div id="timeGauge"></div>
        </div> -->
        <section id="timer">
          <timer id="div1"></timer><timer id="div2"></timer><timer id="div3"></timer><timer id="div4"></timer><timer id="div5"></timer><timer id="div6"></timer><timer id="div7"></timer><timer id="div8"></timer><timer id="div9"></timer><timer id="div10"></timer>
        </section>
        <div id="progress"></div>
        <div class="quiz-menu-btn-container">
          <a href="levels.html" class="quiz-menu-btn">BACK</a><a href="home.html" class="quiz-menu-btn">QUIT</a>
        </div>
      </div>
      <div id="scoreContainer" style="display: none;"></div>
    </div>
  </body>
  <script src="../scripts/quiz.js"></script>
  <script src="../scripts/app.js"></script>
  <!-- <script src="./node_modules/axios/dist/axios.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
</html>
