<!DOCTYPE html>
<html>
<head>
	<title>rules</title>
</head>
<body>
    <h1>Rules</h1>
        <h2>Clues</h2>
            <p>You can have only 3 clues for each level. 
                After you've used all 3, you would be 
                answering the next questions without any clues, of course.</p>
        <h2>Time Limit</h2>
            <p>You can enable and disable this option.
                When enabled, you have exactly 10 seconds 
                to answer each question. Once the time is up 
                without you answering the current question, 
                it will proceed to the next question. Consequently, 
                you won't earn a point for it.</p>
        <h2>Stars</h2>
            <p></p>
    
    <button>BACK</button>
</body>
</html>