<!DOCTYPE html>
<html>
  <head>
    <title>GAME RULES</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
    <div class="container" id="bk-img">
      <h1>GAME RULES</h1>
      <h2>Clues</h2>
      <p>
        You can only get 3 clues for each level. After you've used all 3, you
        would be answering the next questions without any clue, of course. So use
        it wisely.
      </p>
      <h2>Time Limit</h2>
      <p>
        You can enable and disable this option on the
        <a href="settings.html">Settings</a>. When enabled, you have exactly 10
        seconds to answer each question. Once the time is up without you answering
        the current question, it will proceed to the next question. Consequently,
        you won't earn a point for this.
      </p>
      <h2>Stars</h2>
      <p>
        These are the number of stars required to unlock each level:
      </p>
        <img id="rules-table" src="../img/BibleQuiz(Level&Stars).jpg" />
      <a class="button" href="../index.html">BACK</a>
    </div>
  </body>
</html>
