<!DOCTYPE html>
<html>
<head>
    <title>rules</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <h1>Rules</h1>
        <h2>Clues</h2>
            <p>You can only get 3 clues for each level. 
                After you've used all 3, you would be 
                answering the next questions without any clue, of course.
                So use it wisely.</p>
        <h2>Time Limit</h2>
            <p>You can enable and disable this option.
                When enabled, you have exactly 10 seconds 
                to answer each question. Once the time is up 
                without you answering the current question, 
                it will proceed to the next question. Consequently, 
                you won't earn a point for it.</p>
        <h2>Stars</h2>
        <p>To have the next level unlocked, 
            there are stars required.</p>
        <p>Level 2 - 2 stars</p>
        <p>Level 3 - 4 stars</p>
        <p>Level 4 - 6 stars</p>
        <p>Level 5 - 8 stars</p>
        <p>Level 6 - Bonus! 15 stars</p>
        <p>Level 7 - 12 stars</p>
        <p>Level 8 - 14 stars</p>
        <p>Level 9 - 16 stars</p>
        <p>Level 10 - 18 stars</p>
        <p>Level 11 - 20 stars</p>
        <p>Level 12 - Bonus! 33 stars</p>
        <p>Level 13 - 24 stars</p>
        <p>Level 14 - 26 stars</p>
        <p>Level 15 - 28 stars</p>
        <p>Level 16 - 30 stars</p>
        <p>Level 17 - 32 stars</p>
        <p>Level 18 - Bonus! 51 stars</p>
        <p>Level 19 - 36 stars</p>
        <p>Level 20 - 38 stars</p>
        <p>Level 21 - 40 stars</p>
        <p>Level 22 - 42 stars</p>
        <p>Level 23 - 44 stars</p>
        <p>Level 24 - Bonus! 69 stars</p>
        <p>Level 25 - 48 stars</p>
        <p>Level 26 - 50 stars</p>
        <p>Level 27 - 52 stars</p>
        <p>Level 28 - 54 stars</p>
        <p>Level 29 - 56 stars</p>
        <p>Level 30 - Bonus! 87 stars</p>
        <p></p>
    
		<a class='btn my-2 my-sm-0' href='home.html'>BACK</a> <br>
</body>
</html>