<!DOCTYPE html>
<html>
  <head>
    <title>GAME SETTINGS</title>
    <link rel="stylesheet" href="../styles/style.css" />
  </head>
  <body>
  <div class="outer-container" id="bk-img">
    <div class="container" id="bk-img">
      <h1>GAME SETTINGS</h1>
      <br />
      <input type="checkbox" value="Music" />
      <label for="Music">Music</label>
      <br />
      <input type="checkbox" value="Sound Effects" />
      <label for="Sound Effects">Sound Effects</label>
      <br />
      <input type="checkbox" value="Enable Time Limit" />
      <label for="Enable Time Limit">Enable Time Limit</label>
      <p>
        (Learn more about Time Limit on the game's
        <a href="rules.html">Rules</a>).
      </p>
      <h2>Language</h2>
      <input type="radio" name="language" value="English" />
      <label for="English">English</label>
      <br />
      <input type="radio" name="language" value="Tagalog" />
      <label for="Tagalog">Tagalog</label>
      <p id="demo"></p>
      <div id="settings-btns">
        <a class="button" onclick="myFunction()">
          <img src="../img/reset-game-btn.jpg" class="sm-btn"/>
        </a>
        <a href="../index.html">
          <img src="../img/back-sm-btn.jpg" class="sm-btn"/>
        </a>
      </div>
    </div>
  </div>
  </body>
  <script>
    function myFunction() {
      var txt;
      if (confirm("Are you sure you want to reset the game?")) {
        txt = "Nooo!!!";
      } else {
        txt = "I'm saved!";
      }
      document.getElementById("demo").innerHTML = txt;
    }
  </script>
</html>
