<!DOCTYPE html>
<html>
<head>
	<title>settings</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<h1>Settings</h1>
	<br>
		<input type="checkbox" value="Music">
		<label for="Music">Music</label>
		<br>
		<input type="checkbox" value="Sound Effects">
		<label for="Sound Effects">Sound Effects</label>	
		<br>	
		<input type="checkbox" value="Play with time limit">
		<label for="Play with time limit">Time Limit</label>			
		<h2>Language</h2>
			<input type="radio" name="language" value="English">
			<label for="English">English</label>
			<br>
			<input type="radio" name="language" value="Tagalog">
			<label for="Tagalog">Tagalog</label>
			<br><br>
		<button class='btn my-2 my-sm-0' onclick="myFunction()">Reset Game</button>
		<p id="demo"></p> <br>

		<a class='btn my-2 my-sm-0' href='home.html'>BACK</a> <br>
</body>
<script>
	function myFunction() {
	var txt;
	if (confirm("Are you sure you want to reset the game?")) {
		txt = "Nooo!!!";
	} else {
		txt = "I'm saved!";
	}
	document.getElementById("demo").innerHTML = txt;
	}
	</script>
</html>