@media only screen and (max-width: 359px) and (max-height: 639px) {
  .home__header {
    font-size: 0.75rem;
		width: 100%;
		padding: 1rem;
	}
	h1 {
		margin: 0;
  }
  button {
    font-size: 0.75rem;
    padding: 0;
    width: 10rem;
    bottom: 1rem;
  }
	.input-section {
		text-align: center;
		height: 45vh;
  }
  .input-section__heading {
    line-height: 2;
    font-size: 1.2rem;
  }
	#input-section__field {
		width: 40vw;
    height: 12vh;
    font-size: 2rem;
	}
	.template-contents {
		left: 1rem;
		top: 28%;
	}
	.template-contents__song,
	#template-contents__song-number {
		font-size: 1.75rem;
	}
	#template-contents__song-title {
		font-size: 3rem;
		line-height: 95%;
	}
	.template-contents__parentheses,
	#template-contents__bible-verse {
		font-size: 1rem;
  }
  .copyright {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 360px) and (min-height: 640px) {
	.home__header {
    font-size: 1rem;
		width: 100%;
		padding: 1rem;
	}
	h1 {
		margin: 0;
	}
	.input-section {
		text-align: center;
		height: 55vh;
	}
	#input-section__field {
		width: 40vw;
		height: 15vh;
	}
	.template-contents {
		left: 1rem;
		top: 28%;
	}
	.template-contents__song,
	#template-contents__song-number {
		font-size: 1.75rem;
	}
	#template-contents__song-title {
		font-size: 3rem;
		line-height: 95%;
	}
	.template-contents__parentheses,
	#template-contents__bible-verse {
		font-size: 1rem;
	}
}
