* {
	box-sizing: border-box;
	user-select: none;
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */

	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
}
@font-face {
	font-family: "Avenir";
	src: url(../fonts/AvenirLTStd-Book.otf);
}
@font-face {
	font-family: "Charter";
	src: url(../fonts/Charter.ttf);
}
@font-face {
	font-family: "ArcherPro-Thin";
	src: url(../fonts/ArcherPro-Thin.otf);
}
body {
	line-height: 100px;
	margin: 0;
}

.home__header {
	font-size: 1rem;
	width: 100%;
	padding: 1rem;
	background: #6d5402;
	font-family: "ArcherPro-Thin";
	color: white;
	text-align: center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
	width: 100%;
}

h1 {
	margin: 0;
}

button {
	height: 13vh;
	padding: 0 4rem;
	background: #6d5402;
	font-size: 1rem;
	border: 1px solid #6d5402;
	border-radius: 50px;
	left: 0;
	right: 0;
	bottom: 2rem;
	font-family: "Times New Roman", Times, serif;
	color: white;
	cursor: pointer;
	position: absolute;
	margin: auto;
	text-align: center;
	-moz-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
		0px 10px 5px #999;
	-webkit-box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
		0px 10px 5px #999;
	box-shadow: inset 0px 1px 0px grey, 0px 3px 0px 0px lightgrey,
		0px 10px 5px #999;
}
button:focus {
	outline: none;
}
button:hover,
button:active {
	background: #5d4803;
	border-color: #5d4803;
	-webkit-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
		0px 2px 5px #999;
	-moz-box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
		0px 2px 5px #999;
	box-shadow: inset 0px 1px 0px grey, 0px 2px 0px 0px lightgrey,
		0px 2px 5px #999;
}

.input-section {
	position: relative;
	text-align: center;
	margin: 2rem auto;
	width: 40rem;
	height: 55vh;
	max-width: 90%;
	border: 1px solid #6d5402;
	border-radius: 10px;
	color: #6d5402;
}

.input-section__heading {
	font-family: "ArcherPro-Thin";
	margin: 0;
}

#input-section__field {
	width: 40vw;
	height: 15vh;
	font-size: 2.5rem;
	border: 2px solid #6d5402;
	margin: auto;
	display: block;
	color: #6d5402;
	text-align: center;
}
#input-section__field:focus {
	outline: none;
}
#input-section__field::-webkit-outer-spin-button,
#input-section__field::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
#input-section__field[type="number"] {
	-moz-appearance: textfield;
}

#template {
	height: 100vh;
	width: 100vw;
	background: url(../JWGuitar.jpg) no-repeat center center fixed;
	background-size: cover;
	margin: 0;
	padding: 0;
	position: relative;
}

.template-contents {
  /* border: 5px solid white; */
  left: 1rem;
  top: 28%;
	width: 55vw;
	text-align: center;
	top: 25%;
	left: 0;
	position: absolute;
}

.template-contents__song,
#template-contents__song-number,
#template-contents__song-title,
.template-contents__parentheses,
#template-contents__bible-verse {
	margin: 0em;
	color: blanchedalmond;
}

.template-contents__song,
#template-contents__song-number {
	font-family: "Avenir";
	font-size: 1.5rem;
	line-height: 1.5rem;
}

#template-contents__song-title {
	font-family: "Charter";
	font-size: 3rem;
	line-height: 95%;
}

.template-contents__parentheses,
#template-contents__bible-verse {
	font-family: "ArcherPro-Thin";
	font-size: 1rem;
}

#home-copyright,
#template-copyright {
	text-align: center;
}

#template-contents__back-btn {
	position: absolute;
	margin: auto;
	bottom: 5rem;
	left: 0;
	right: 0;
	text-align: center;
}

.copyright {
	font-size: 1rem;
	position: absolute;
	margin: auto;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}
.homepage__copyright {
	color: black;
}
.template__copyright {
	color: white;
}
