/* OPPO */
@media only screen and (max-width: 359px) {
}
/* SAMSUNG */
@media only screen and (min-width: 420px) {
  .container {
    border: 2px solid white;
    border-top: 0;
    border-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (min-width: 1050px) {
}

/* DESKTOPS */
@media only screen and (min-width: 1200px) {
}
