/* ----------- iPhone 4 and 4S ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
/* ----------- iPhone 6, 6S, 7 and 8 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
}
/* ----------- iPhone 6+, 7+ and 8+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
/* ----------- iPhone X ----------- */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {
}
/* -------------------------OPPO A71------------------------- */
@media screen and (min-width: 275px) and (min-height: 480px) {
  #settings-btns,
  #levels-sm-btns,
  #query-menu-btns,
  #final-score-menu-btns {
    padding-bottom: 2.2em;
  }
  h1 {
    font-size: 2em;
  }
  #bible-query-title {
    font-size: 2em;
    margin: 0.2em 0em;
  }
  p {
    font-size: 0.9em;
    margin: 0em 0.3em;
  }
  .long-btn {
    padding: 0.1em 0;
  }
  #long-btn-container {
    width: 75%;
  }
  /* settings */
  input {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
  }
  label {
    font-size: 1em;
  }
  h2 {
    font-size: 1.3em;
    margin-left: 0.2em;
  }
  #settings-btns {
    padding-top: 0.4em;
  }
  /* levels */
  #stars {
    font-size: 1em;
  }
  #level-number {
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    margin: 1em;
  }
  #levels-sm-btns {
    padding-top: 15.4em;
  }
  /* query */
  #level-theme {
    font-size: 1em;
  }
  #question {
    font-size: 1em;
  }
  .question-container {
    height: 8em;
    margin: 0em 0.5em;
    border-radius: 0.3em;
  }
  #show-clue-btn-container {
    padding-top: 5.7em;
    padding-left: 12.5em;
  }
  #show-clue-btn {
    border: 2.5px solid rgb(177, 15, 15);
    padding: 0.2em 0.7em;
    font-size: 1.2em;
  }
  .modal {
    padding-top: 7em;
  }
  #clue-source {
    font-size: 0.8em;
    margin-left: 0.4em;
    padding-top: 0.7em;
  }
  #clue-source-content {
    max-height: 8em;
    font-size: 1em;
  }
  .modal-content {
    padding: 3em 1em 1em;
    font-size: 1.1em;
  }
  .choice {
    font-size: 0.8em;
    width: 13em;
    padding: 0.8em 3em;
    margin: 0.3em 0em;
    border: 0.1em solid lightgrey;
    border-radius: 0.3em;
  }
  .choice:active {
    color: lightskyblue;
  }
  #progress-container {
    padding: 0.1em;
    margin-top: 0;
    padding-top: 0;
  }
  .progress {
    width: 0.6em;
    height: 0.6em;
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
  #query-menu-btns {
    padding-top: 0em;
    width: 100%;
    text-align: center;
  }
  #final-score {
    padding: 5em 0 0;
  }
  #score-phrase-1 {
    font-size: 3em;
    padding: 0em;
    margin: 0em;
  }
  #final-score-img {
    width: 90%;
  }
  #final-score-percentage {
    font-size: 2em;
    padding: 0em;
    margin: 0em;
  }
  #score-phrase-2 {
    font-size: 1em;
    margin: 0em;
  }
  #final-score-menu-btns {
    padding-top: 5em;
    width: 100%;
    text-align: center;
  }
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */
@media screen and (min-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  #settings-btns,
  #levels-sm-btns,
  #query-menu-btns,
  #final-score-menu-btns {
    padding-bottom: 2.2em;
  }
  h1 {
    font-size: 2em;
  }
  #bible-query-title {
    font-size: 2.5em;
    margin: 0.2em 0em;
  }
  p {
    font-size: 0.9em;
    margin: 0em 0.6em;
  }
  .long-btn {
    padding: 0.1em 0;
  }
  #long-btn-container {
    width: 80%;
  }
  /* settings */
  input {
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
  }
  label {
    font-size: 1em;
  }
  h2 {
    font-size: 1.3em;
    margin-left: 0.3em;
  }
  #settings-btns {
    padding-top: 10.7em;
  }
  /* levels */
  #stars {
    font-size: 1em;
  }
  #level-number {
    font-size: 1.5em;
    padding: 0.1em 0.5em;
    margin: 1em;
  }
  #levels-sm-btns {
    padding-top: 24.5em;
  }
  /* query */
  #level-theme {
    font-size: 1em;
  }
  #question {
    font-size: 1.3em;
  }
  .question-container {
    height: 10em;
    margin: 0em 0.5em;
    border-radius: 0.3em;
  }
  #show-clue-btn-container {
    padding-top: 7.4em;
    padding-left: 18.2em;
  }
  #show-clue-btn {
    border: 2.5px solid rgb(177, 15, 15);
    padding: 0.2em 0.7em;
    font-size: 1.2em;
  }
  .modal {
    padding-top: 10em;
  }
  #clue-source {
    margin-left: 0.4em;
    padding-top: 0.7em;
    font-size: 1em;
  }
  .modal-content,
  #clue-source-content {
    font-size: 1.3em;
  }
  #clue-source-content {
    max-height: 8em;
  }
  .modal-content {
    padding: 3em 1em 1em;
  }
  .choice {
    font-size: 1em;
    width: 15em;
    padding: 0.8em 3em;
    margin: 0.3em 0em;
    border: 0.1em solid lightgrey;
    border-radius: 0.3em;
  }
  #progress-container {
    padding: 0.1em;
    margin-top: 0;
    padding-top: 0;
  }
  .progress {
    width: 0.9em;
    height: 0.9em;
    margin-left: 0.5px;
    margin-right: 0.5px;
  }
  #query-menu-btns {
    padding-top: 2.4em;
    width: 100%;
    text-align: center;
  }
  #final-score {
    padding: 9em 0 0;
  }
  #score-phrase-1 {
    font-size: 3em;
    padding: 0em;
    margin: 0em;
  }
  #final-score-img {
    width: 90%;
  }
  #final-score-percentage {
    font-size: 2.5em;
    padding: 0em;
    margin: 0em;
  }
  #score-phrase-2 {
    font-size: 1.2em;
    margin: 0em;
  }
  #final-score-menu-btns {
    padding-top: 7.8em;
    width: 100%;
    text-align: center;
  }
}

/* TABLET */
/* ----------- iPad 1, 2, Mini and Air ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
}

/* DESKTOP */
/* ---------------1600px---------------- */
@media screen and (min-device-width: 1600px) {
  h1 {
    font-size: 2.3em;
  }
  h2 {
    font-size: 1.5em;
    margin: 0.3em;
  }
  p {
    font-size: 1.1em;
    margin: 0.5em;
  }
  input {
    width: 1.5em;
    height: 1.5em;
    margin-left: 1em;
    margin-right: 0;
  }
  label {
    font-size: 1.5em;
  }
  .outer-container {
    padding: 0 37em;
  }
  .long-btn {
    padding: 0.3em 0;
  }
  #bible-query-title {
    font-size: 2.8em;
    margin: 0.2em 0em;
  }
  #long-btn-container {
    width: 74%;
    margin-bottom: 3.1em;
  }
  /* Modals */
  #show-clue-btn-container {
    padding-top: em;
    padding-left: 18.2em;
  }
  #show-clue-btn {
    border: 2.5px solid rgb(177, 15, 15);
    padding: 0.2em 0.7em;
    font-size: 1.5em;
  }
  .modal {
    position: absolute;
  }
  #clue-source {
    margin-left: 0.4em;
    padding-top: 0.7em;
    font-size: 1em;
  }

  #clue-source-content {
    max-height: 12em;
    font-size: 1.1em;
  }
  .modal-content {
    font-size: 1.3em;
    padding: 3em 1em 1em;
  }
  /* levels */
  #stars {
    font-size: 2em;
  }
  #level-number {
    font-size: 2em;
    padding: 0.1em 0.5em;
    margin: 1em;
  }
  #levels-sm-btns {
    padding-top: 27.5em;
    padding-bottom: 2.5em;
  }
  /* query */
  #level-theme {
    font-size: 1em;
    padding: 0.7em;
  }
  #question {
    font-size: 1.2em;
  }
  .question-container {
    height: 12em;
    margin: 0.5em;
    border-radius: 0.4em;
  }
  #show-clue-btn-container {
    padding-top: 9.3em;
    padding-left: 20.3em;
  }
  .choice {
    font-size: 1em;
    width: 17em;
    padding: 1.2em 3em;
    margin: 0.3em 0em;
  }
  .choice:hover {
    border: 0.2em solid lightseagreen;
    font-weight: bold;
  }
  .choice:active {
    color: greenyellow;
  }
  #progress-container {
    padding: 0.5em 0 0 0;
  }
  .progress {
    width: 0.9em;
    height: 0.9em;
    margin-left: 1px;
    margin-right: 1px;
  }
  #query-menu-btns {
    padding-top: 0.5em;
    padding-bottom: 3.5em;
    width: 100%;
    text-align: center;
  }
  #final-score {
    padding: 7em 0em 9em;
  }
  #score-phrase-1 {
    font-size: 3.5em;
  }
  #score-phrase-2 {
    font-size: 1.2em;
  }
  #final-score-img {
    width: 90%;
  }
  #final-score-percentage {
    font-size: 3em;
    padding: 0em;
    margin: 0em;
  }
  #final-score-menu-btns {
    padding-top: 0.5em;
    padding-bottom: 2.5em;
    width: 100%;
    text-align: center;
  }
  #ads {
    font-size: 1em;
    padding: 0.8em;
  }
  /* settings */
  #learn-more {
    font-size: 1em;
  }
  #language-header {
    font-size: 2em;
    padding-bottom: 0.4em;
    margin-bottom: 0em;
  }
  #settings-btns {
    padding-top: 12em;
    padding-bottom: 2em;
  }
}
