/* OPPO */
@media only screen and (max-width: 359px) and (max-height: 639px) {
}
/* SAMSUNG */
@media only screen and (min-width: 420px) {
  .container {
    border: 2px solid white;
    border-top: 0;
    border-bottom: 0;
  }
}

@media only screen and (min-width: 768px) and (min-height: 1024px) {
}

@media only screen and (min-width: 1024px) and (min-height: 1366px) {
}

@media only screen and (min-width: 1050px) and (min-height: 750px) {
}

/* DESKTOPS */
@media only screen and (min-device-width: 1600px) {
}
