body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: white;
  text-align: left;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Mukta Mahee";
  src: url(../fonts/MuktaMahee-ExtraLight.ttf);
}

@font-face {
  font-family: "Architects Daughter";
  src: url(../fonts/ArchitectsDaughter-Regular.ttf);
}

.modal-content,
.modal-effect,
#clue-source-content,
#clue-source {
  font-family: "Mukta Mahee";
  color: black;
}

#score-phrase-1,
#final-score-percentage,
#score-phrase-2 {
  font-family: "Architects Daughter";
}

hr {
  border-top: 1px dotted grey;
  width: 20em;
}

h1,
h3,
.centered-sm-btns,
.question-container,
.modal-content,
#bible-query-title,
#okay-sm-btn-container,
#quit-sm-btns-container,
#level-number,
#query-block,
#timer,
#hr-container,
#settings-btns,
#rules-table-container,
#final-score {
  text-align: center;
}

a,
#long-btns img:hover,
.button:hover,
.choice,
.sm-btn,
#level,
.okay-sm-btn,
.yes-sm-btn,
.no-sm-btn,
#level-number,
#show-clue-modal-btn {
  cursor: pointer;
}

.outer-container,
#show-clue-modal-btn {
  margin: 0;
}

.outer-container,
.container,
#choices-container {
  padding: 0;
}

#long-btns img,
.sm-btn,
.okay-sm-btn,
.yes-sm-btn,
.no-sm-btn {
  border: 0;
}

img {
  text-decoration: none;
  outline: none;
}

.sm-btn,
.yes-sm-btn,
.no-sm-btn {
  margin: 10px;
  width: 25%;
}

.okay-sm-btn {
  margin: 7px;
  width: 23%;
}

#long-btns img,
.question-container,
#query-block {
  display: flex;
}

a {
  text-decoration: none;
  color: rgb(81, 220, 245);
}

.bk-img {
  background: url(../img/bk-img.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  border-top: 0;
  border-bottom: 0;
  border-style: solid;
  text-align: left;
  /* box-shadow: 0px 5px 5px 0px; */
  position: relative;
  overflow: hidden;
}

#long-btns {
  margin-left: auto;
  margin-right: auto;
}
#long-btns img {
  max-width: 100%;
  align-self: center;
  /* remove the blue line around the button upon clicking */
}

#okay-sm-btn-container {
  margin: 0.5em;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-effect {
  position: relative;
  background-color: rgb(231, 231, 231);
  margin: auto;
  border-radius: 0.1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: zoomIn;
  animation-duration: 0.1s;
}

#clue-source {
  color: black;
  text-align: left;
}

#clue-source-content {
  text-align: left;
  overflow: auto;
}
.modal-content {
  padding: 3em 1em 1em;
  text-align: center;
}

#show-clue-modal-btn-container {
  position: absolute;
}
#show-clue-modal-btn {
  position: relative;
  color: lightgrey;
}
#show-clue-modal-btn:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#level-number {
  font-weight: bolder;
  border: 2px solid lightgrey;
  position: absolute;
  color: lightgrey;
}
#level-number:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}
.question-container {
  border: 0.4em solid rgb(7, 128, 119);
  justify-content: center;
  flex-direction: column;
}
#counter {
  font-size: 0; /* remove counter */
}
#time-gauge {
  background-color: white;
  margin: 0.1em;
  height: 0.8em;
  border-radius: 1em;
}
.choice {
  display: inline-block;
}
#progress {
  width: 100%;
}
.progress {
  border: 1px solid grey;
  display: inline-block;
  border-radius: 40%;
}

#rules-table-img {
  padding: 1em;
  width: 90%;
}
