body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
}

a {
  text-decoration: none;
}

h1, h3 {
  text-align: center;
}

h2, p {
  margin: 10px;
}

img {
  max-width: 100%;
  max-height:100%;
  display: flex;
  align-self: center;
}

.img-container {
  margin: 10px;
}

.container {
  margin: auto;
  height: 700px;
  width: 500px;
  border-radius: 5px;
  border: 1px;
  border-style: solid;
  text-align: left;
  /* box-shadow: 0px 5px 15px 0px; */
  position: relative;
  width: 400px;
  overflow:auto;
}

.button {
  appearance: button;
  margin: 5px;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
  margin: 40px;
}

.button:hover {
  cursor: pointer;
}

a.quiz-menu-btn {
  padding: 20px;
  appearance: button;
  margin: 5px;
  text-decoration: none;
}

.quiz-menu-btn-container {
  bottom: 20px;
  position: absolute;
  width: 100%;
}

#quiz {
  display: flex;
  text-align: center;
}

#start {
  font-size: 1.5em;
  font-weight: bolder;
  width: 100px;
  height: 150px;
  border: 2px solid lightgrey;
  text-align: center;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-self: center;
  justify-content: center;
  color: lightgrey;
}
#start:hover {
  border: 3px solid lightseagreen;
  color: lightseagreen;
}

#question {
  text-align: center;
  font-size: 1.25em;
  padding: 40px;
}

#choices {
  padding: 0;
}

.choice {
  display: inline-block;
  width: 135px;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  padding: 20px 100px;
}
.choice:hover {
  border: 2px solid grey;
  font-weight: bold;
}

/* #timer {
  position: absolute;
  height: 100px;
  width: 200px;
  bottom: 0px;
  text-align: center;
}
#counter {
  font-size: 3em;
}
#btimeGauge {
  width: 150px;
  height: 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left: 25px;
}
#timeGauge {
  height: 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top: -10px;
  margin-left: 25px;
} */

section {
	display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  bottom: 150px;
  position: absolute;
}

timer {
  height: 9px;
	width: 20px;
	background-color: #E1E4E6;
	border-radius: 2px;
	margin-left: 2.5%;
  margin-right: 2.5%;
  animation: timer 10s infinite;
}
#div2 {
	animation: timer 10s 1s infinite;
}
#div3 {
	animation: timer 10s 2s infinite;
}
#div4 {
	animation: timer 10s 3s infinite;
}
#div5 {
	animation: timer 10s 4s infinite;
}
#div6 {
	animation: timer 10s 5s infinite;
}
#div7 {
	animation: timer 10s 6s infinite;
}
#div8 {
	animation: timer 10s 7s infinite;
}
#div9 {
	animation: timer 10s 8s infinite;
}
#div10 {
	animation: timer 10s 9s infinite;
}
@keyframes timer {
	0% { background-color: #E1E4E6; }
	5% { background-color: #E80C7A; transform:     scale(1.1, 1.1); }
	10% { background-color: #E1E4E6; }
}

#progress {
  width: 100%;
  position: absolute;
  /* bottom: 60px; */
  text-align: center;
  bottom: 60px;
}
.progress {
  width: 25px;
  height: 25px;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left: 5px;
  margin-right: 5px;
}

#scoreContainer {
  margin: 20px auto;
  background-color: white;
  opacity: 0.8;
  height: 700px;
  width: 700px;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;
}
#scoreContainer img {
  position: absolute;
  top: 100px;
  left: 325px;
}
#scoreContainer p {
  position: absolute;
  display: block;
  width: 59px;
  height: 59px;
  top: 130px;
  left: 325px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}
